body {
  font-family: Arial, sans-serif;
  text-align: center;
  transition: background-color 0.5s ease;
  padding-top: 100px;
}

.contenedor {
  background-color: white;
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}
